# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.c.swp
*.DS_Store
.gitignore
img/.DS_Store
.DS_Store

*.swp

*.log
*.dSYM

bin/img/
bin/log/
bin/zimg

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
tags

bin/conf/debug.lua
build/
src/include/evhtp-config.h
src/hiredis.c
results.bin

test/result.json
test/stress_random.txt
test/stress_random_big.txt
test/zimg with webimg2.txt
