# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.c.swp
.gitignore
img/.DS_Store
.DS_Store
.gitignore
img/.DS_Store
.DS_Store
