# Object files
*.o
*.s
*.lo

# Libraries
*.lib
*.a
*.la

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.c.swp
*.DS_Store
.gitignore
img/.DS_Store
.DS_Store

*.swp
*.pc

*.log
*.dSYM

bin/img/
bin/log/
bin/zimg

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
tags

bin/conf/debug.lua
build/
src/include/evhtp-config.h
src/hiredis.c
results.bin

test/result.json
test/stress_random.txt
test/stress_random_big.txt
test/zimg with webimg2.txt

#luaJIT headers
src/LuaJIT/src/host/buildvm
src/LuaJIT/src/host/buildvm_arch.h
src/LuaJIT/src/host/minilua
src/LuaJIT/src/lj_bcdef.h
src/LuaJIT/src/lj_ffdef.h
src/LuaJIT/src/lj_folddef.h
src/LuaJIT/src/lj_libdef.h
src/LuaJIT/src/lj_recdef.h

#libwebp
src/libwebp-0.4.0/
